<% include header %>

<form role="form" class="resluts commentform" action="/watchlist/comment/save" method="post">
	<input type="text-area" class="text" name="text">
	<input type="submit" class="btn" value="Comment!">
	<input type="hidden" name="movieId" value="<%= movie_id%>">
</form>


<% for(var i=0; i<commentdata.length; i++) {%>
	<ol>
	<li>
		<%= commentdata[i].text%>
	</li>
	</ol>
<% } %>


<% include footer %>