<% include header %>

<% for(var i = 0; i < movies.Search.length; i++) { %>
	<ol><a href="<%= movies.Search[i].imdbID %>"><%= movies.Search[i].Title %>
	<%= movies.Search[i].Year %></a></ol>
<% } %>
	

<% include footer %>